**/*.pyc
**/*.pt
dataset/*
# Except the readme.md file
LPDGAN/checkpoints
!LPDGAN/models/taming/modules/autoencoder/ocr_perceptual/readme.md
LPDGAN/models/taming/modules/autoencoder/ocr_perceptual
!dataset/readme.md
result
label_webui
dump.rdb
.vscode