**/*.pyc
**/*.pt
dataset/*
# Except the readme.md file
LPDGAN/checkpoints
!LPDGAN/models/taming/modules/autoencoder/ocr_perceptual/readme.md
LPDGAN/models/taming/modules/autoencoder/ocr_perceptual
!dataset/readme.md
!dataset/dataset.py
!dataset/__init__.py
!dataset/tw/old/readme.md
!dataset/tw/new/readme.md
!dataset/augmentation.py
result
label_webui
dump.rdb
.vscode